@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Changed to white */
  --background-end-rgb: 255, 255, 255;   /* Changed to white */
}

#Floatimage{
  animation: float infinite 5s linear;
}


@keyframes float {
  0%{
  transform: translateY(3%);
  }
  50%{
    transform: translateY(-6%);
  }
  100%{
    transform: translateY(3%);
  }
}

body {
  color: black;
 background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
