@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Changed to white */
  --background-end-rgb: 255, 255, 255; /* Changed to white */
}

#Floatimage {
  animation: float infinite 5s linear;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-6%) translateX(-2%);
  }
  50% {
    transform: translateY(-10%) translateX(2%);
  }
  75% {
    transform: translateY(-6%) translateX(-2%);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.float {
  animation: float 6s ease-in-out infinite;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation: slideIn 0.5s ease-out forwards;
}

ol {
  counter-reset: step;
}

li {
  position: relative;
  padding-left: 2rem;
}

li:before {
  content: counter(step);
  counter-increment: step;
  position: absolute;
  left: -1rem;
  top: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
/* Gradient text class */

.marquee-container {
  position: relative;
  overflow: hidden;
}

.marquee-content {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 10s linear infinite; /* Adjust duration for speed */
}

.marquee-text {
  display: inline-block;
  padding-left: 100px; /* Space between repeated text */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Enhanced transparent overlay on both ends of the marquee box */
.marquee-container::before,
.marquee-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px; /* Increased fade width for stronger effect */
  pointer-events: none;
  z-index: 10; /* Ensures it overlays content */
}

.marquee-container::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 51, 153, 1),
    rgba(0, 51, 153, 0.3),
    rgba(0, 51, 153, 0)
  ); /* Left fade with extended stops */
}

.marquee-container::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(0, 51, 153, 1),
    rgba(0, 51, 153, 0.3),
    rgba(0, 51, 153, 0)
  ); /* Right fade with extended stops */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes particle-animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(
      -10px,
      -20px
    ); /* Move slightly in a random direction */
  }
  100% {
    transform: translate(10px, 20px); /* Return to a similar random position */
  }
}

.particle-animation {
  animation: particle-animation infinite ease-in-out; /* Continuous floating */
}

body {
  color: black;
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
